/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nav-link .alexandria:hover {
  font-variation-settings:
  'FILL' 1, 
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nav-link .alexandria:active {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}